@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.875rem;
  color: #757575;
}
body.modal-open {
  overflow: hidden;
}

svg {
  width: 14px;
  height: 14px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Налаштування адаптиву */
[class*=__container] {
  max-width: 75rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.logo {
  display: block;
  min-width: 9.625rem;
}
@media (min-width: 48rem) {
  .logo {
    margin-right: 5.5rem;
  }
}
@media (min-width: 64rem) {
  .logo {
    margin-right: 5.8125rem;
  }
}
.logo--footer {
  min-width: 130px;
  margin-right: 0;
}
.logo__txt {
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #2196f3;
}
.logo__txt:not(:first-child) {
  margin-left: -4px;
}
.logo__txt--dark {
  color: #212121;
}
.logo__txt--light {
  color: #ffffff;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
.modal__body {
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  padding: 40px 20px;
  max-width: calc(100vw - 1.875rem);
}
.modal__title {
  max-width: 370px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media (min-width: 64rem) {
  .modal__title {
    max-width: 448px;
  }
}
.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
}
.modal__close-icon {
  width: 30px;
  height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  position: relative;
  margin-top: 18px;
  margin-bottom: 10px;
}
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: inherit;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input::-moz-placeholder {
  font-size: 14px;
  opacity: 0;
  -moz-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input::placeholder {
  font-size: 14px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus, .form__input:focus-visible {
  border: 1px solid #2196f3;
  outline: 1px solid #2196f3;
}
.form__input:focus::-moz-placeholder, .form__input:focus-visible::-moz-placeholder {
  opacity: 1;
}
.form__input:focus::placeholder, .form__input:focus-visible::placeholder {
  opacity: 1;
}
.form__input--textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.form__input:focus + .form__box, .form__input:focus-visible + .form__box {
  color: #2196f3;
  fill: #2196f3;
}
.form__input:focus + .form__box .form__fild, .form__input:focus-visible + .form__box .form__fild {
  transform: translate(-42px, -270%);
}
.form__input:focus + .form__box .form__fild--textarea, .form__input:focus-visible + .form__box .form__fild--textarea {
  transform: translate(-16px, -270%);
}
.form__input:not(:-moz-placeholder-shown) + .form__box .form__fild {
  transform: translate(-42px, -270%);
}
.form__input:not(:placeholder-shown) + .form__box .form__fild {
  transform: translate(-42px, -270%);
}
.form__input:not(:-moz-placeholder-shown) + .form__box .form__fild--textarea {
  transform: translate(-16px, -270%);
}
.form__input:not(:placeholder-shown) + .form__box .form__fild--textarea {
  transform: translate(-16px, -270%);
}
.form__fild {
  position: absolute;
  display: block;
  top: 16px;
  left: 42px;
  color: inherit;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__fild--textarea {
  left: 16px;
}
.form__icon {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: inherit;
}
.form__input:focus + .form__icon {
  fill: #2196f3;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.checkbox__input {
  margin-right: 8px;
}
.checkbox__txt {
  font-size: 12px;
  line-height: 14px;
}
.checkbox__link {
  color: #2196f3;
  text-decoration: underline;
}

.button {
  border-radius: 4px;
  padding: 10px 28px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  text-align: center;
  justify-items: center;
  gap: 10px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.625rem;
  letter-spacing: 0.03em;
  color: #212121;
}

.subtitle {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #212121;
}
.subtitle--light {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.social-link__list {
  display: flex;
}
.social-link__item:not(:last-child) {
  margin-right: 10px;
}
.social-link__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  fill: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link__link--light {
  background-color: #ffffff;
  fill: #757575;
}
.social-link__link:hover, .social-link__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}
.social-link__icon {
  width: 20px;
  height: 20px;
  fill: inherit;
}

.header__container {
  position: relative;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 48rem) {
  .header__container {
    height: 5rem;
  }
}
.menu {
  width: 100%;
}
.menu__btn {
  position: absolute;
  right: 0.75rem;
  top: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 48rem) {
  .menu__btn {
    display: none;
  }
}
.menu__btn:hover, .menu__btn:focus {
  fill: #2196f3;
}
.menu__btn svg {
  height: 2.5rem;
  width: 2.5rem;
}
@media (max-width: 63.9987rem) {
  .menu__body {
    display: none;
  }
}
@media (min-width: 48rem) {
  .menu__body {
    display: flex;
  }
}
@media (max-width: 63.9987rem) {
  .menu__body.open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2.5rem;
    background-color: #ffffff;
  }
}
.nav {
  margin-right: auto;
}
@media (max-width: 47.9987rem) {
  .nav {
    margin-bottom: 2rem;
  }
}
@media (max-width: 23.4987rem) {
  .nav {
    margin-bottom: 1rem;
  }
}
@media (min-width: 48rem) {
  .nav {
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media (min-width: 48rem) {
  .nav__list {
    display: flex;
    gap: 3.125rem;
  }
}
@media (max-width: 47.9987rem) {
  .nav__item:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.nav__link {
  position: relative;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.9375rem;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 48rem) {
  .nav__link {
    font-size: 14px;
    line-height: 16px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--accent {
  color: #2196f3;
}
@media (min-width: 48rem) {
  .nav__link--accent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2rem;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.5rem;
    background-color: #2196f3;
    color: #2196f3;
  }
}

@media (min-width: 48rem) {
  .contacts__list {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
}
@media (min-width: 64rem) {
  .contacts__list {
    flex-direction: row-reverse;
    gap: 30px;
  }
}
@media (max-width: 47.9987rem) {
  .contacts__item:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 23.4987rem) {
  .contacts__item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 47.9987rem) {
  .contacts__item:last-child {
    margin-bottom: 4rem;
  }
}
@media (max-width: 23.4987rem) {
  .contacts__item:last-child {
    margin-bottom: 2rem;
  }
}
.contacts__link {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.875rem;
  letter-spacing: 0.02em;
}
@media (min-width: 48rem) {
  .contacts__link {
    display: flex;
    gap: 8px;
  }
}
@media (max-width: 47.9987rem) {
  .contacts__link {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}
@media (max-width: 23.4987rem) {
  .contacts__link {
    font-size: 1.25rem;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}
@media (max-width: 47.9987rem) {
  .contacts__link--number {
    font-size: 2.125rem;
    line-height: 2.5rem;
    color: #2196f3;
  }
}
@media (max-width: 23.4987rem) {
  .contacts__link--number {
    font-size: 1.625rem;
  }
}
.contacts__link svg {
  width: 0.875rem;
  height: 0.875rem;
  fill: inherit;
}
@media (max-width: 47.9987rem) {
  .contacts__link svg {
    display: none;
  }
}

.subcontacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}
@media (min-width: 48rem) {
  .subcontacts__list {
    display: none;
  }
}
.subcontacts__item:not(:last-child) ::after {
  content: "";
  width: 0.0625rem;
  height: 100%;
  margin-left: 0.625rem;
  border-right: 0.0625rem solid rgba(33, 33, 33, 0.2);
}
.subcontacts__link {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2196f3;
}
@media (max-width: 445px) {
  .subcontacts__link {
    font-size: 0.875rem;
  }
}
@media (max-width: 23.4987rem) {
  .subcontacts__link {
    font-size: 0.75rem;
  }
}
@media (max-width: 340px) {
  .subcontacts__link {
    font-size: 0.625rem;
  }
}
.subcontacts__link:hover, .subcontacts__link:focus {
  text-decoration: underline;
}

.footer {
  background-color: #2f303a;
}
.footer__container {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  gap: 3.75rem;
}
@media (max-width: 47.9987rem) {
  .footer__container {
    flex-direction: column;
  }
}
@media (min-width: 64rem) {
  .footer__container {
    gap: 4.375rem;
  }
}
.address :not(:last-child) {
  margin-bottom: 1.25rem;
}
.address__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.address__link {
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--light {
  color: #ffffff;
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.subscription__form {
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (min-width: 30rem) {
  .subscription__form {
    width: 28.125rem;
  }
}
@media (min-width: 64rem) {
  .subscription__form {
    flex-direction: row;
    width: 35.625rem;
    gap: 0.75rem;
  }
}
.subscription__input {
  width: 100%;
  height: 3.125rem;
  padding: 0.9375rem;
  font-size: 1rem;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 0.25rem;
  background-color: transparent;
  color: #ffffff;
}
.subscription__btn span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
}
.subscription__btn svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #ffffff;
}

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 25rem;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
.hero__img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
@media (max-width: 624.98px) {
  .hero__img {
    height: 100%;
  }
}
@media (min-width: 625px) {
  .hero__img {
    width: 100%;
  }
}
.hero__title {
  font-size: 1.625rem;
  font-weight: 900;
  line-height: 2.625rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 22.5rem;
  margin-bottom: 1.875rem;
}
@media (min-width: 64rem) {
  .hero__title {
    font-size: 2.75rem;
    line-height: 3.75rem;
    width: 37.5rem;
  }
}/*# sourceMappingURL=main.css.map */