.header {
  &__container {
    position: relative;

    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include ms(tab-s) {
      height: 5rem;
    }
  }
  &__logo {
  }
  &__menu {
  }
}

.menu {
  width: 100%;

  &__btn {
    position: absolute;
    right: 0.75rem;
    top: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-secondary;
    transition: fill $cubic;
    @include ms(tab-s) {
      display: none;
    }

    &:hover,
    &:focus {
      fill: $color-accent;
    }
    &--open {
    }
    &--close {
    }
    & svg {
      height: 2.5rem;
      width: 2.5rem;
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);

      //   height: 2.5rem;
      //   width: 2.5rem;
      //   transition: height $cubic;
    }
  }
  &__body {
    @include ms(tab-s-up) {
      display: none;
    }
    @include ms(tab-s) {
      display: flex;
    }
    &.open {
      @include ms(tab-s-up) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 3rem 2.5rem;

        background-color: $bg-light;
      }
    }
  }
  &__nav {
  }
  &__contacts {
  }
  &__subcontacts {
  }
}

.nav {
  margin-right: auto;

  @include ms(mob-l-up) {
    margin-bottom: 2rem;
  }
  @include ms(mob-s-up) {
    margin-bottom: 1rem;
  }
  @include ms(tab-s) {
    margin-top: auto;
    margin-bottom: auto;
  }
  &__list {
    @include ms(tab-s) {
      display: flex;
      gap: 3.125rem;
    }
  }
  &__item {
    &:not(:last-child) {
      @include ms(mob-l-up) {
        margin-bottom: 2rem;
      }
    }
  }
  &__link {
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.9375rem;
    letter-spacing: 0.02em;
    color: $color-secondary;
    transition: color $cubic;

    @include ms(tab-s) {
      font-size: 14px;
      line-height: 16px;
    }

    &:hover,
    &:focus {
      color: $color-accent;
    }
    &--accent {
      color: $color-accent;
      @include ms(tab-s) {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2rem;
          width: 100%;
          height: 0.25rem;
          border-radius: 0.5rem;
          background-color: $bg-accent;
          color: $color-accent;
        }
      }
    }
  }
}
.contacts {
  &__list {
    @include ms(tab-s) {
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
    }
    @include ms(desc-s) {
      flex-direction: row-reverse;
      gap: 30px;
    }
  }
  &__item {
    &:not(:last-child) {
      @include ms(mob-l-up) {
        margin-bottom: 2rem;
      }
      @include ms(mob-s-up) {
        margin-bottom: 1rem;
      }
    }
    &:last-child {
      @include ms(mob-l-up) {
        margin-bottom: 4rem;
      }
      @include ms(mob-s-up) {
        margin-bottom: 2rem;
      }
    }
  }
  &__link {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.875rem;
    letter-spacing: 0.02em;

    @include ms(tab-s) {
      display: flex;
      gap: 8px;
    }
    @include ms(mob-l-up) {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
    @include ms(mob-s-up) {
      font-size: 1.25rem;
    }
    &:hover,
    &:focus {
      color: $color-accent;
      fill: $color-accent;
    }
    &--number {
      @include ms(mob-l-up) {
        font-size: 2.125rem;
        line-height: 2.5rem;
        color: $color-accent;
      }
      @include ms(mob-s-up) {
        font-size: 1.625rem;
      }
    }
    & svg {
      width: 0.875rem;
      height: 0.875rem;
      fill: inherit;

      @include ms(mob-l-up) {
        display: none;
      }
    }
  }
}
.subcontacts {
  &__list {
    @include ms(tab-s) {
      display: none;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
  }
  &__item {
    &:not(:last-child) ::after {
      content: "";
      width: 0.0625rem;
      height: 100%;
      margin-left: 0.625rem;
      border-right: 0.0625rem solid #21212133;
    }
  }
  &__link {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: $color-accent;

    @media (max-width: 445px) {
      font-size: 0.875rem;
    }
    @include ms(mob-s-up) {
      font-size: 0.75rem;
    }

    @media (max-width: 340px) {
      font-size: 0.625rem;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
