.logo {
  display: block;
  min-width: 9.625rem;
  @media (min-width: $tab-s-min) {
    margin-right: 5.5rem;
  }
  @media (min-width: $desc-s-min) {
    margin-right: 5.8125rem;
  }
  &--footer {
    min-width: 130px;
    margin-right: 0;
  }

  &__txt {
    font-family: Raleway;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: $color-accent;

    &:not(:first-child) {
      margin-left: -4px;
    }
    &--dark {
      color: $color-secondary;
    }
    &--light {
      color: $color-light;
    }
  }
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.625rem;
  letter-spacing: 0.03em;
  color: $color-secondary;
}

.subtitle {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03em;

  color: $color-secondary;

  &--light {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $color-light;
  }
}

.social-link {
  &__title {
  }
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;

    background-color: #ffffff1a;
    fill: $color-light;

    transition: all $cubic;

    &--light {
      background-color: $color-light;
      fill: $color-primary;
    }

    &:hover,
    &:focus {
      fill: $color-light;
      background-color: $color-accent;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;

    fill: inherit;
  }
}

.button {
  border-radius: 4px;
  padding: 10px 28px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  text-align: center;
  justify-items: center;
  gap: 10px;

  background-color: $bg-accent;
  color: $color-light;
  transition: background-color $cubic;
  &:hover,
  &:focus {
    background-color: $bg-accent-hover;
  }
}
