// text color
$color-primary: #757575;
$color-secondary: #212121;
$color-accent: #2196f3;
$color-light: #ffffff;

// bacgraund color
$bg-primary: #f5f4fa;
$bg-secondary: #2f303a;
$bg-accent: #2196f3;
$bg-light: #ffffff;

// animation
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// width
$min-mobile: 320px;
$max-mobile: 767.98px;
$min-tablet: 768px;
$max-tablet: 1023.98px;
$min-desctop: 1024px;
$max-desctop: 1440px;
