// text color
$color-primary: #757575;
$color-secondary: #212121;
$color-accent: #2196f3;
$color-light: #ffffff;

// bacgraund color
$bg-primary: #f5f4fa;
$bg-secondary: #2f303a;
$bg-accent: #2196f3;
$bg-accent-hover: #188ce8;
$bg-light: #ffffff;

// animation
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
